.container {
  display: flex;
  height: 100vh;
}


.image-container {
  flex: 0.7;
  background-color: #000;
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/697/635/original/seo-web-development-software-coding-and-programming-on-application-in-laptop-computer-devices-with-script-language-testing-and-graphical-icons-vector.jpg");
  transition: 1s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-container {
  flex: 0.3;
  background: white;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 1s;
  position: relative;

}

.header>h1 {
  margin: 0;
  color: #0150c7;
}

.header>h3 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.4);
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  box-shadow: 0 0 30px lightblue;
}

.form p {
  text-align: center;
  font-size: 16px;
  color: #0b46eb;
  background-color: #f0f7ff;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form p.errMsg {
  text-align: center;
  font-size: 16px;
  color: red;
  background-color: transparent;
}

.form p:hover {
  background-color: #d6e4ff;
}

.form input[type="submit"] {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #10278b 0%, #0b46eb 100%);
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

/*Home Page css
  */
.home-page {
  margin: auto;
  padding: 20px;
}

nav {
  background-color: #007bff;
  /* Blue theme color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 10px;
}

li:last-child {
  margin-right: 0;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: yellow;
  box-shadow: 0 0 30px lightblue;
}

/* Active Tab */
.active {
  border-bottom: 2px solid #fff;
}

/* Profile Dropdown */
.profile-dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #007bff;
  border-radius: 4px;
  display: none;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button {
  display: block;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  color: #fff;
  border: none;
  background-color: transparent;
}

.dropdown-content button:hover {
  background-color: #0056b3;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }

}