/*Home Page css
  */


  
  nav {
    background-color: #270141;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 7px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:10px;
  }
  
 
  
  a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 92%;
  }

  a:hover {
    background-color: rgb(92, 5, 173);
  }
  a:focus {
    outline: none;
  }

  

   /* Active Tab */
   .active {
   
    border-bottom: 2px solid #fff;
  }

  .home-button {
    background-color: transparent;
    border: none;
   
    align-items: center;
  }
  
  .home-button:focus {
    outline: none;
  }
  
  .home-button:hover {
    background-color: rgb(92, 5, 173);
  }
  
 
  
  /* Profile Dropdown */
  .profile-dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .logout-button {
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
  }
  
  
  

  
  
  
  footer {
    background-color: #3c284a;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  footer p {
    font-size: 14px;
  }