  .vertical-scoreboard-table {
      display: flex;
      flex-direction: column;
  }

  .scoreboard-entry {
      margin-bottom: 20px;
  }

  .scoreboard-info {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
  }

  .scoreboard-info-item {
      margin-bottom: 5px;
  }

  .scoreboard-stat {

      width: 100px;
  }

  .scoreboard-table {
      border-collapse: collapse;
      width: 100%;
      margin: 0 auto;
  }

  .scoreboard-table th,
  .scoreboard-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
  }

  .scoreboard-table th {
      background-color: #85754d;
      color: white;
  }

  .rejected-attempts-cell {
      background-color: red;
      color: white;
  }

  .accepted-attempts-cell {
      background-color: green;
      color: white;
  }

  .scoreboard h2 {
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
  }

  .scoreboardProblemName {
      width: 300px;
  }

  .current-rank-highlight {
      border: 3px solid black;
  }

  .current-rank-message {
    font-weight: bold;
  }

  .competition-header {
      display: flex;
      justify-content: space-between;
  }

  .contest-name {
      flex: 200%;
      text-align: center;
  }

  .right {
      text-align: right;
  }

  .left {
      text-align: left;
  }

  .time.right,
  .time.left {
      font-size: 15px;
  }

  .right .label,
  .left .label {
      font-size: 17px;
      color: red;
      font-weight: bold;
  }

  .competition-progress {
      margin-bottom: 10px;
      color: white;
      text-align: center;
      background-color: green;
      border-radius: 10px;
  }

  .competition-err {
    margin-bottom: 10px;
    color: white;
    text-align: center;
    background-color: red;
    border-radius: 10px;
}